export/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# For JAVA
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar

*.war
*.ear
*.class

# eclipse specific git ignore
.DS_Store
.project
.metadata
/bin/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.clover/

#IntelliJ files
.idea
*.iml

#Image files
src/ressources/img/
